body {
    background-image: url("https://s1.1zoom.me/big0/283/Star_Wars_Movies_Planets_460653.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header-text {
    text-align: center;
    font-family: 'star-wars';
    color: yellow;
    background-color: black;
    padding: 15px;
}

.table {
    color: white;
    background-color: rgba(0,0,0,.4);
}

.paginationNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pagination-color :black;
}

